<% provide(:title,"top") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <h1>勤怠システム</h1>
    </div>
  </div>
</div>

<p>Find me in app/views/static_pages/top.html.erb</p>
