<% provide(:title, "edit") %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '編集') %>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h1>アカウント情報の更新</h1>
    <%= render 'form' %>
  </div>
</div>