@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  font-size: 45px;
  padding-bottom: 20px;
  margin-top: -1px;
  text-align: center;
}


// ヘッダー

#header_logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  margin-top: 8px;
  float: left;
}

.header_list {
  color: lightgray;
} 

.header_list:hover {
  color: white;
  text-decoration: none;
}

#dropdown_title {
  color: lightgray;
  display: inline-box;
  text-decoration: none;
}

#dropdown_title:hover {
  color: white;
  text-decoration: none;
}

.dropdown-menu {
  float: right;
}

// トップ画面

.signup_link {
  margin-top: 20px;
}

.login_new_create:hover {
   text-decoration: none;
}

// アカウント作成
#form_btn {
  margin-top: 16px;
}

// debug

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}   

// error_messages 

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}