.table-user {
  margin-top: -21px;
}

.table-list {
  margin-top: 20px;
}

// ユーザー一覧

#table-users {
  vertical-align: left;
}

.table-btn {
  float: right;
  margin-right: 10px;
}

.user-list {
  line-height: 2.5;
}

.table-cell {
  width: 64px;
}
